<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Page Title</title>
</head>
<body>
    
    <h2>Welcom to Home page MR. {{data['name']}}</h2>

    <p>Simple data input from front-end to back-end</p>

         <h1>Enter two numbers to add</h1>

    <form action="/about" method="POST">

        <input type="text" name="num1" required='required'>
        <br><br>
        <input type='text' name='numb2' required='required'>
        <br><br>

        <input type='submit' value='Add'>

    </form>

</body>
</html>
